.bg1{
    background: url("https://res.cloudinary.com/johnnypark78/image/upload/v1488591353/bgs/bg1.jpg") no-repeat center center fixed;
    background-size: cover;    
}

.bg2{
    background: url("https://res.cloudinary.com/johnnypark78/image/upload/v1488591353/bgs/bg2.jpg") no-repeat center center fixed;    
    background-size: cover; 
}

.bg3{
    background: url("https://res.cloudinary.com/johnnypark78/image/upload/v1488591353/bgs/bg3.jpg") no-repeat center center fixed;    
    background-size: cover; 
}

.bg4{
    background: url("https://res.cloudinary.com/johnnypark78/image/upload/v1488591353/bgs/bg4.jpg") no-repeat center center fixed;    
    background-size: cover; 
}

.bg5{
    background: url("https://res.cloudinary.com/johnnypark78/image/upload/v1488591353/bgs/bg5.jpg") no-repeat center center fixed;    
    background-size: cover; 
}

.bg6{
    background: url("http://res.cloudinary.com/johnnypark78/image/upload/v1488591353/bgs/bg6.jpg") no-repeat center center fixed;    
    background-size: cover; 
}

.bg7{
    background: url("http://res.cloudinary.com/johnnypark78/image/upload/v1488591353/bgs/bg7.jpg") no-repeat center center fixed;    
    background-size: cover; 
}

.bg8{
    background: url("https://res.cloudinary.com/johnnypark78/image/upload/v1488591353/bgs/bg8.jpg") no-repeat center center fixed;    
    background-size: cover; 
}

.bg9{
    background: url("https://res.cloudinary.com/johnnypark78/image/upload/v1488591353/bgs/bg9.jpg") no-repeat center center fixed;    
    background-size: cover; 
}

.bg10{
    background: url("https://res.cloudinary.com/johnnypark78/image/upload/v1488591353/bgs/bg10.jpg") no-repeat center center fixed;    
    background-size: cover; 
}

.quote-box{
    color: white;
    background-color: rgba(53,53,53,0.6);
    width: 75%;
    margin: 40px auto 0 auto;
    padding: 40px;
    border-radius: 30px;

}

.quote-main{
    font-size: 5rem;
    font-family: 'Courgette', cursive;
    line-height: 1.25em;
}

.quote-auth{
    font-family: 'Courgette', cursive;
    text-align: right;
    font-size: 2rem;
}

.new-quote{
    text-align: center;
}

.shutter{
    display: none;
    background: #353535;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
}
